@charset "UTF-8";
/* 全体 */
body {
	background-color: #FFD5EC;/* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	background-color: #FF82B2; /* 背景色 */
	color: #777777	; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}
/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #20B2AA	;
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}

/* 表見出しセル */
table th {
	background: #20B2AA;
	color: #ffffff;
}
/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: #DA70D6;
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
	border-radius: 10px;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}

h3 {
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 2rem;
    box-shadow: 0px -5px #f1a4aa, 0px 5px #f1a4aa;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background-color: #f1a4aa;
    color: #353535;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

h3::before {
    position: absolute;
    top: -5px;
    right: 0;
    width: 0px;
    height: 0px;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff;
    border-style: solid;
    content: '';
}


.heading03 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}

.heading03::before,
.heading03::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #00CCCC ;
}

.heading03::before {
	margin-right: 20px;
}
.heading03::after {
	margin-left: 20px;
}

@font-face  {
    font-family: "myfont"; /*任意のフォントファミリー名でOK*/
    src: url("../font/Yomogi-Regular.ttf") format("truetype"); /*fontがあるパスを書いて、formatを指定*/
  }
 h1{
	font-family:"myfont" ,  sans-serif;
	font-weight: bold;
 }
	