<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<header>
	<h1>どりんくしょっぴんぐ</h1>
	</header>
	<main>
<h2  class="heading03">カート一覧</h2>
♡<a href="/drink">商品一覧に戻る</a>

<table border="1">
	<tr>
		<th>商品No</th>
		<th>商品名</th>
		<th>価格</th>
		<th>種類</th>
		<th>個数</th>
		<th>小計</th>
		<th></th>
	</tr>
	<tr th:each="drink:${@cart.drink}">
			<td th:text="${drink.id}"></td>
			<td th:text="${drink.name}"></td>
			<td th:text="${drink.price}+'円'"></td>
			<td th:text="${drink.category}"></td>
			<td th:text="${drink.quantity}"></td>
			<td th:text="${drink.price * drink.quantity}+'円'"></td>
			<td>
				<form action="/cart/delete" method="post">
					<input type="hidden" name="id" th:value="${drink.id}">
					<button>削除
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
						<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
						</svg>
					</button>
				</form>
			</td>
	<tr>
		
		<td align="right" colspan="6" th:text="'総計：'+${@cart.totalPrice}+'円'"></td>
		
			
	</tr>
</table>

</main>
</body>
</html>