<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
<header>
	
<h1>どりんくしょっぴんぐ</h1>

</header>
<main>

	
	<h3>ようこそ[[${@usersAccount.name}]]さん</h3>
     ♡<a href="/login">ログアウト</a>
	
	
	<h2  class="heading03">商品一覧</h2>




<form action="/drink" method="get">
	♡<input type="text" name="keyword"
	th:value="${keyword}"placeholder=商品名>
	
	
	♡<input type="text" name="categories"
	th:value="${categories}" placeholder="種類">
	
	
	♡<input type="number" name="maxPrice"
	th value="${maxPrice}" placeholder="価格">円以下
	
	
	
	<button>検索
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
		  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
		</svg>
	</button>
	
<br>

♡<a href="/drink">商品一覧へ戻る</a>
<br>
♡<a href="/cart">カート
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
	  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
	</svg>
</a>

	
</form>


<table border="1" >
	<tr>
		<th>商品No</th>
		<th>商品名</th>
		<th>価格</th>
		<th>種類</th>
		<th></th>
	</tr>
	<tr th:each="drink:${drink}">
		<td>[[${drink.id}]]</td>
		<td><a th:href="@{/drink/{id}(id=${drink.id})}">[[${drink.name}]]</td>
		<td>[[${drink.price}]]円</td>
		<td th:text="${drink.category}"></td>
		<td>
			<form action="/cart/add" method="post">
			<input type="hidden" name="id" th:value="${drink.id}">
				<button>カートに追加
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
				  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
					</svg>
				</button>
			</form>
		</td>
	</tr>
</table>

</main>
</body>
</html>