<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>新規登録</h1>

	<form action="/login" method="post">
		<table>
			<tr>
				<th>お名前</th><td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>パスワード</th><td><input type ="password" name="password"></td>
			</tr>
			<tr>
				<th>メールアドレス</th><td><input type="text" name="email"></td>
			</tr>
			<tr>
				<th>住所</th><td><input type="text" name="address"></td>
			</tr>
			<tr>
				<th>誕生日</th><td><input type="date" name="birthday"></td>
			</tr>
			
		</table>
		<button>登録</button>
		
	</form>
</body>
</html>