<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	
	
<header>
<h1>ドリンクショッピング</h1>
</header>



<main>
	<h2 class="heading03">ログインはこちら</h2>
<form action ="/login" method="post">
	<br>
	<span th:text="${message}" style="color: red;"></span>
	<span th:text="${message1}" style="color: red;"></span>
	<span th:text="${message2}" style="color: red;"></span>
	<table>
		<tr>
			<th>名前</th><td>
			<input type="text" size="40" name="name" th:value="${name}" ></td>
		</tr>
		
		<tr>
			<th>パスワード</th><td>
			<input type="password" size="40" name="password"></td>
		</tr>
		
	</table>
	<button>ログイン</button>
</form>
<br>
♡<a href="/login/add">新規会員登録</a>

</main>
</body>
</html>