<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<header>
	<h1>どりんくしょっぴんぐ</h1>
	</header>
	
	<main>
	<h2 class="heading03">新規登録</h2>

	<form action="/login/add" method="post">
		<br>
			<span th:text="${ms}" style="color: red;"></span>
			<span th:text="${ms1}" style="color: red;"></span>
			<span th:text="${ms2}" style="color: red;"></span>
			<span th:text="${ms3}" style="color: red;"></span>
		<table>
			<tr>
				<th>お名前</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type ="password" name="password"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="address"></td>
			</tr>
			<tr>
				<th>誕生日</th>
				<td><input type="date" name="birthday"></td>
			</tr>
			
		</table>
		<button>登録</button>
		
	</form>
</main>
</body>
</html>