<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>ログインはこちら</h1>

<form action ="/login" method="post">
	<br>
	<span th:text="${message}" style="color: red;"></span>
	<table>
		<tr>
			<th>名前</th><td><input type="text" name="name"></td>
		</tr>
		
		<tr>
			<th>パスワード</th><td><input type="password" name="password"></td>
		</tr>
		
	</table>
	<button>ログイン</button>
</form>
<a href="/login/add">会員登録</a>


</body>
</html>