<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div th:replace="cartDrink"></div>
			<form action="/order">
			</form>
<main>
<br>
<h2  class="heading03">お客様情報</h2>
<table border="1" height="150">
	<tr>
			<th>お名前</th>
			<td><input type="text"  size="40" th:value="${@usersAccount.name}"></td>
	</tr>
	<tr>
			<th>住所</th>
			<td><input type="text" size="40" th:value="${@usersAccount.address}"></td>
	</tr>
	<tr>
			<th>メールアドレス</th>
			<td><input type="text" size="40" th:value="${@usersAccount.email}"></td>
	</tr>	
	</table>
	
	<form action="/order/confirm">
	<button>注文確定</button>
    </form>
	
</main>
</body>
</html>